body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background-color: #FFF8EE !important;
}

.container{
  width: 1200px !important;
}

.content-landing{
  /* background-color: #ffbf69; */
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px !important;
  border: 1px silver solid;
}

.content-donasi{
  /* background-color: #ffbf69; */
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px !important;
  border: 1px silver solid;
}

.content-panti{
  /* background-color: #ffbf69; */
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px !important;
  border: 1px silver solid;
}

.navbar{
  font-size: 16px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.highlight {
  font-weight: bolder;
  color: #ffffff;
  background: #ff5e57 !important ;
}

.react-calendar {
  width: 1000px !important ;
  background: #f1f2f6 !important;
  border-radius: 20px !important;
}

.react-calendar__month-view__weekdays {
  font-size: 1.25em !important;
}

.react-calendar__tile {
  font-size: 1.5em !important;
  margin-bottom: 15px !important;
}

.react-calendar__navigation button {
  font-size: 1.25em !important;
  font-weight: bold;
}